<html>
    <head>
        <title>Welcome to {{ item.name }}!</title>
    </head>
    <body>
        <h1>Success!  The {{ item.name }} server block is working!</h1>
        <p>Ansible template test: {{ item.msg }}
    </body>
</html>

